.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.top {
    background-color: #000;
    padding-bottom: 20px;
}
.box {
    margin-top: 30px;
    color: #fff;
    text-align: center;
    background-color: green;
    border-radius: 10px;
    width: 100%;
    height: 115px;
}
.itens > h3{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}
.mitem {
    margin-top: 30px;
    margin-bottom: 5px;
}
.bord {
    border-right: 1px solid #E0E0E0;
    padding-right: 25px;
}
.ex > h3 {
    margin-top: 0px;
}